html{
  -webkit-tap-highlight-color:transparent;
  word-break: keep-all;
}
body.page-id-204927{
  /* overflow: hidden; */
}

/* transform menu setting*/
.wpml-ls-item.wpml-ls-current-language.wpml-ls-menu-item > .sub-menu{
  left: -10px;
  border-top: none;
  width: 102px;
}
.wpml-ls-item.wpml-ls-current-language.wpml-ls-menu-item > .sub-menu li{
  top: 1px;
  left: -30px;
}
li#menu-item-wpml-ls-5-ko span.wpml-ls-display,
li#menu-item-wpml-ls-5-ko ul li#menu-item-wpml-ls-5-en span.wpml-ls-display{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}
li#menu-item-wpml-ls-5-en span.wpml-ls-display,
li#menu-item-wpml-ls-5-en ul li#menu-item-wpml-ls-5-ko span.wpml-ls-display{
  font-family: helvetica-neue;
}

/* Global setting */
h1, h2, h3, h4, h5, h6, a{
  color: #000;
}
body{
  color:#000;
  font-family: helvetica-neue;
  font-weight: 500;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar{
  display: none;
}

.et_pb_section{
  padding:0;
  background: none;
}
.et_pb_column{
  margin-bottom:0px;
}

/* row width 잡기 */
.et_pb_row{
  width: 72%;
  padding:0px;
}

/* row 간격 초기화 */
.et_pb_row.et_pb_row_1{
    height: 0px;
    margin: 0;
    padding: 0;
}

/* document 로드 될 때 block 튕김방지 */
#collections-section, #stockist-section, #main_all_box{
  padding-top: 125px !important;
  border:0;
}

/*--- header ---*/
#top-menu li li{
  padding: 0;
  width: 100%;
}
#top-menu li li a{
  width: 100%;
  padding: 6px 0 6px 10px;
  margin-left: 30px;
}

/* main menu setting */
.et_header_style_centered #main-header div#et-top-navigation{
  font-family: helvetica-neue;
  font-weight: 500;
}
.et_header_style_centered #top-menu>li>a{
  font-size: 16px;
}
/* /main menu setting */

/* 로고 마진 */
.et_header_style_centered #logo{
margin-top:10px;
}

/* 모바일 메뉴 없애기 */
#et_mobile_nav_menu{
display:none !important;
}

/* tablet 이하 submenu 보이기 */
.et_header_style_centered nav#top-menu-nav{
  display: inline-block;
}
#top-menu{
  display: block;
}
#main-header{
  z-index: 998;
  margin-top: 10px;
}
#page-container #main-header .container{
  max-width: 2560px;
}
#top-menu li{
  padding: 5px 22px 10px 0;
}
#top-menu li:nth-child(3){
  padding-right: 0;
}
#top-menu li:nth-child(4),
#top-menu li:last-child{
  position: absolute;
  right: 0px;
  bottom: 85px;
}
#top-menu li:nth-child(4){
  right: 80px;
}
#top-menu li:nth-child(4) a,
#top-menu li:last-child a{
  font-size: 15px;
  font-weight: 100;
}

/* /tablet 이하 submenu 보이기 */
/*--- /header ---*/
/*--- footer ---*/
/* 기본 footer 없애기 */
#main-footer{
display:none;
}
/*--- footer ---*/


/*--- main page setting ---*/
/* main image 튕김방지 */
.entry-content ul{
  padding: 0 !important;
}
.metaslider .flexslider{
  border: 0 !important;
}
.metaslider .slides img{
  width: 100% !important;
  display: block !important;
}
/* main image 크기, 간격 */
.et_pb_gutters3 .et_pb_column_1_2,
.et_pb_gutters3.et_pb_row .et_pb_column_1_2{
  width: calc(50% - 10px) !important;
}
.et_pb_gutters3 .et_pb_column,
.et_pb_gutters3.et_pb_row .et_pb_column{
  margin-right: 20px;
}
/* /main image 크기, 간격 */

/* 좌측 이미지에 있는 글자 set */
#main-title{
    font-family: helvetica-neue;
    font-size: 46px;
    line-height: 1.2em;
    color: #000000;
    font-weight: 900;
    bottom: 17%;
    position: absolute;
    left: -21.3%;
    margin-bottom: 0 !important;
}

/* will del */
/* 가운데 문장 pc버전 정리 */
#constructor-pc-A{
    position: fixed;
    top: 49%;
    left: 50%;
    width: 52%;
    background: #000;
    color: white;
    font-family: helvetica-neue;
    font-size: 50px;
    height: 78px;
    line-height: 78px;
    transform: translate(-50%);
    text-align: center;
}

/* 가운데 문장 모바일 버전 정리 */
#constructor-Mo-A{
    width: 87%;
    position: fixed;
    top: 49%;
    left: 50%;
    background: #000;
    color: white;
    font-family: helvetica-neue;
    font-size: 29px;
    height: 40px;
    line-height: 49px;
    transform: translate(-50%);
    text-align: center;
    transition-duration:0.5s;
}
/* /will del */

/* 메인 이미지 row 세로 가운데 정렬하기 set*/
#main_all_box{
  text-align: center;
  line-height: calc(100vh - 420px) !important;
  margin-top: 10px;
}

#main_wrap_box{
  display: inline-block;
  vertical-align: middle;
  max-width: 1500px;
}
/* /메인 이미지 row 세로 가운데 정렬하기 set*/
/*--- /main page setting ---*/

/*--- collection page setting ---*/
.owl-nav.arrow_size_medium .owl-prev:before, .owl-nav.arrow_size_medium .owl-next:before{
  font-size: 120px;
}
.owl-stage{
  width: 10000vw !important;
}
.page-id-205778 .owl-item.active,
.page-id-205774 .owl-item.active,
.page-id-205299 .owl-item.active,
.page-id-204865 .owl-item.active{
  margin-right: 50vw;
}

/* background-position 필요한거 제어하기 */
#awlookbook2017 div.dp_oc_item#no3{
  background-position: left;
}

/* img tag 를 div tag background 만들기 */
.et_header_style_centered #top-menu>li>a{
  padding-bottom:0 !important;
}
.dp_oc_item{
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-item img{
  opacity: 0;
}
/* /img tag 를 div tag background 만들기 */

/* collections bottom menu */
#collections-menu .current-menu-item.current_page_item{
  border-bottom: 2px solid black;
}
#collections-menu{
  position:absolute;
  bottom:0;
  width:100%;
  padding: 30px 10px;
  z-index: 1003;
}
#collections-menu div{
  width:100% !important;
  max-width:100% !important;
  margin: 0 !important;
}
#menu-collection-menu,
#menu-collection-menu-ko{
  text-align: center;
}
#menu-collection-menu li,
#menu-collection-menu-ko li{
  display: inline-block;
  margin: 0 15px;
  font-size: 1.8rem;
  height:28px;
}
#menu-collection-menu li a,
#menu-collection-menu-ko li a{
  color:#000;
}
/* /collections bottom menu */

/* on/off video-btn */
#close-btn-section{
  position: absolute;
  height: calc(100vh - 16rem);
  width: calc(50vw + 2px);
  bottom: calc(50% - 0.7rem);
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 999;
  padding: 0px 0;
  max-height: 1050px;
}
#close-btn-section div{
  width: 100%;
}
#close-btn{
  width: 40px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  right: 1rem;
  bottom: 0px;
  font-size: 17px;
  text-align: center;
}
/*#close-btn:before{
  content:"\00d7";
  font-size: 30px;
}*/
/* /on/off video-btn */

/* video-section setting */
#video-section iframe{
  width:100%;
  height: calc(100vh - 235px);
  background: black;
  max-height: 1000px;
}
#video-section .fluid-width-video-wrapper{
  padding:0 !important;
}
#video-section{
  width:calc(50vw + 2px);
  margin:0 auto;
  position: absolute;
  left:50%;
  bottom:calc(50% - 1.8rem);
  transform:translate(-50%, 50%);
  padding:0 !important;
  z-index: 1001;
}
#video-section > div{
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 20rem);
  max-height: 1025px;
  margin:0 auto;
}
#video-module{
  margin-bottom: -2px;
  overflow: hidden;
}
#video-frame{
  height: calc(100vh - 15rem);
  max-height: 1000px;
  background: black;
  width:100%;
  /* min-height: 400px; */
}
/* video-section setting */
/*--- /collection page setting ---*/

/* collections-section(photo) */
#collections-section{
  z-index: 1000;
}
#collections-section > div{
  width: calc(100vw);
  max-width: calc(100vw);
  height:calc(100vh - 20rem);
  max-height: 1025px;
}
#collections-section div{
  /* margin: 0 auto; */
}
.et_pb_gutters3 .et_pb_column_4_4 .et_pb_module, .et_pb_gutters3.et_pb_row .et_pb_column_4_4 .et_pb_module{
  margin-bottom: 0;
}
.owl-next{
  right:0;
  transform: translateY(-50%);
}
.owl-next::before,
.owl-prev::before{
  color: #fff;
  text-shadow: 0px 5px 10px #000;
}
.owl-next, .owl-prev{
  opacity: 0.8;
}
.owl-prev {
  left:0 !important;
  transform: translateY(-50%);
}
#collections-section{
  position: absolute;
  bottom: calc(50% - 1.8rem);
  transform: translateY(50%);
  padding: 0 !important;
  /*padding-top: 117px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 100%;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;*/
}
.owl-carousel .owl-item img{
  display: block;
  width: 100%;
  height: calc(100vh - 15rem);
  max-height: 1000px;
  object-fit: cover;
}
/* /collections-section(photo) */


/*--- stockist page setting ---*/
#stockist-text{
  position: absolute;
  right: -54%;
  font-size:20px;
  margin-top:20px;
  transition-duration: 0.5s;
  font-family: helvetica-neue, "Noto Sans KR";
}
#korean-row .lightbox-module a,
#stockist-text #kofont h5{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}
#stockist-text h2{
	font-size: 3em;
  padding-right: 50px;
  font-family: inherit;
  color:#000;
  margin-top: 40px;
}
#stockist-text h3{
  margin-left: 60px;
  margin-top: 40px;
  font-size: 2.5em;
  font-family: inherit;
  line-height: 30px
}
#stockist-text h3 span{
  font-size: 21.5px;
  pointer-events: none;
  display: block;
  margin: 10px 0;
}
#stockist-text h4{
  margin-left: 100px;
  margin-top: 30px;
  font-size: 1.5em;
  font-family: inherit;
}
#stockist-text h5{
  padding-left: 7em;
	font-size: 1em;
	margin: 10px 0 0px;
	line-height: 40px;
  white-space: nowrap;
  font-family: inherit;
  font-weight: 500;
}
#stockist-text p{
	padding-left: 160px;
	font-size: 1em;
	margin: 20px 0;
	line-height: 45px;
  white-space: nowrap;
  transition-duration: 0.8s;
  height: auto;
}
#stockist-text p.folded{
  height: 0;
  margin: 0;
  padding: 0 0 0 160px;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.8s;
}
#stockist-bg{
	width:72%;
	height: 100vh;
	background-size: cover;
  background-position: 90% 40%;
	position:fixed;
	top: 0;
  left: -3%;
  z-index: -1;
  transition-duration: 0.5s;
}

.lightbox-module{
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 69%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 1;
  display: none;
  transition-duration: 0.5s;
}
.lightbox-module .et_pb_code_inner{
  background: white;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 53%;
  height: 53%;
}
#stockist-text span{
  cursor: pointer;
  transition-duration: 0.3s;
}
#stockist-section .info-text img{
  vertical-align: middle;
}
#stockist-section .info-text p{
  margin: 10px;
}
#stockist-section .info-text span{
  margin-left: 10px;
}
#stockist-section .info-text a{
  color: #000;
  transition-duration: 0.3s;
}
#stockist-section .info-text a:hover,
#stockist-text span:hover{
  color: #d3d3d3;
}
#stockist-section .info-text{
  font-size: 18px;
  padding: 2% 3%;
  position: relative;
  background: white;
  text-indent: -30px;
  padding-left: 30px;
}
/*#stockist-lightbox-section{
  position: fixed;
  width: calc(72% - 40px);
  height: 100%;
  background: rgba(0,0,0, 0.4);
  z-index: 999;
  top: 0;
}
#stockist-lightbox-row{
  width: 100%;
  height: 100%;
}
#stockist-lightbox-column{
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  background: #fff;
}*/
/*--- /stockist page setting ---*/

/*--- about page setting ---*/
#about-section{
  z-index: 1002;
}
#about div {
  height: 1rem;
}
#about-section .sep-div{
  margin-bottom: 3rem;
}
#about.about-ko p, #mo-about.mo-about-ko p{
  font-size: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}

#about, #mo-about{
	display: none;
	position: fixed;
  left: 0;
  top: 52%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
	z-index: 99;
}
#about p, #mo-about p{
	background: rgba(0, 0, 0, 0.9);
	color: white;
	display:inline-block;
	text-align: center;
	margin: 0px auto;
	padding: 0px 1rem;
  height: 55px;
  line-height: 55px;
  font-family: helvetica-neue;
}
#menu-item-204821,
#menu-item-205417{
	cursor: pointer;
}
/*--- /about page setting ---*/

/*--- contact page setting ---*/
#contact-ko p.kofont{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
}
.snslink{
  color: #000;
  transition-duration: 0.4s;
}
.snslink:hover{
  color: #777;
}
#contact-div h2{
  font-family: helvetica-neue;
  margin-bottom: 45px;
  font-size: 40px;
  color: #000;
}
#contact-div p{
  margin-bottom:20px;
}
#contact-div{
  position: fixed;
  bottom: calc(50% - 50px);
  transform: translateY(50%);
  font-size: 20px;
  line-height: 2.1em;
}
#contact-section{
  position: absolute;
  left:0;
  right:0;
  width:100%;
  height:100%;
  background-size: cover;
}
/*--- /contact page setting ---*/
@media screen and (min-width: 2561px){
  #stockist-bg{
    width: 60%;
    max-width: 60% !important;
  }
}
/* ver 4 over FHD PC  */
@media screen and (min-width: 1601px){
  /* header 간격조절 */
  #main-header .logo_container{
    margin-bottom: 0px;
  }
  /* /header 간격조절 */
    .et_pb_row{
        max-width: 1600px;
    }
    .et_pb_image img{
        min-height:700px;
    }
    #stockist-text{
      left: 98%;
    }
    #stockist-bg,
    .lightbox-module{
      width: 70%;
      max-width: 1750px;
    }
    .lightbox-module{
      width: 67%
    }
}

/* ver 4 FHD PC  */
@media screen and (max-width: 1600px) and (min-width: 1101px){
  /* header 간격조절 */
  #main-header .logo_container{
    margin-bottom: 0px;
  }
  /* /header 간격조절 */
  /*--- collection page eidt ---*/


  /*--- about page edit ---*/
  #about p{
    font-size: 30px;
  }

  /*--- stockist page eidt ---*/
  #stockist-bg{
    width: calc(100vw - 400px);
  }
  .lightbox-module{
    width: calc(97vw - 400px);
  }
  #stockist-text{
    right: -54%;
  }
  /*will del*/
  #constructor-pc-A{
      width:58.5%;
      font-size: 30px;
      height: 45px;
      line-height: 45px;
  }
  body.osx #constructor-pc-A{
    line-height: 51px;
  }
}

/* ver 4 Tablet */
@media (max-width: 1100px) and (min-width: 601px){
  #constructor-pc-A,
  #constructor-Mo-A{
    width: 75%;
    font-size: 25px;
    height: 45px;
    line-height: 45px;
  }

  #about.about-ko p, #mo-about.mo-about-ko p{
    font-size: 1.1rem;
  }
  /* hdeader 간격조절 */
  #main-header .container{
    width: 95%;
  }
  .et_header_style_centered #main-header{
    padding:0;
  }
  .et_header_style_centered #logo{
    max-height: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .et_header_style_centered header#main-header .logo_container{
    height: 80px !important;
  }
/* main page edit */
#main-title{
  font-size: 30px;
  left:-10%;
}
#main_all_box{
  line-height:calc(100vh - 220px) !important;
}
#main_wrap_box{
  width: 90%;
}
/* /main page edit */
/*--- collection page eidt ---*/
  #video-section,
  #close-btn-section{
    width:calc(100vw)
  }
  #video-section>div{
    width:calc(100vw);
    max-width:calc(100vw);
  }

  /*--- about page edit ---*/
    #about p{
      font-size: 23px;
      height: 45px;
      line-height: 45px;
    }
    #mo-about p{
      font-size: 27px;
      height: 45px;
      line-height: 45px;
    }

  /*--- stockist page edit ---*/
  #stockist-bg{
    width: calc(100vw - 260px);
  }
  .lightbox-module{
    width: calc(97vw - 260px);
  }
  .lightbox-module .et_pb_code_inner{
    width: 80%;
    height: 60%;
  }
  #stockist-section .et_pb_column{
    width: 72% !important;
  }
  #stockist-text{
    font-size: 17px;
    margin-top: 50px;
    right:-65%;
  }
  #stockist-text h2{
    padding-right: 82px;
  }
  #stockist-text p{
    margin: 0;
    line-height: 40px;
    padding-left: 8em;
  }
  #stockist-text p.folded{
    padding: 0 0 0 8em;
  }
  #stockist-section, #main_all_box{
    padding-top: 100px !important;
  }

  /*--- contact page ---*/
  #contact-div{
    font-size: 18px;
  }
  #contact-div h2{
    margin-bottom: 30px;
    font-size: 35px;
  }
  #contact-div p{
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) and (min-width: 601px){
  #collections-menu{
    padding: 10px;
  }
  #menu-collection-menu li,
  #menu-collection-menu-ko li{
    margin: 10px 20px;
  }
  #collections-section,
  #close-btn-section,
  .owl-carousel .owl-item img,
  #video-section{
    max-height: 620px;
  }
  #video-frame{
    max-height: 620px;
    min-height: 300px;
  }
  #collections-section, #video-section{
    bottom: calc(50% - 10px);
  }
  #video-section>div{
    height: auto;
  }
}
/* ver 4 Mabile */
@media (max-width: 600px){
  #about.about-ko p, #mo-about.mo-about-ko p{
    font-size: 0.8rem;
  }
  /*stockist_len 간격*/
  #menu-item-204820{
    margin-right: 10px;
  }

  #menu-collection-menu li a,
  #menu-collection-menu-ko li a{
    font-size: 18px;
  }
  /* stockist lightbox edit */
  .lightbox-module{
    width: 100%;
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.4);
  }#mo-about p
  .lightbox-module .et_pb_code_inner{
    width: 90%
  }
  #stockist-section .info-text{
    font-size: 14px;
  }


  /* header 간격 조절 */
#top-menu.nav li ul{
  padding-right: 20px;
  width: 80.06px;
}
#top-menu li li{
  width: 100%;
}

  #collections-menu{
    padding: 10px;
  }
  #et-top-navigation{
    margin-top:5px;
  }
  #main-header{
    margin-top: 10px;
  }
  .et_header_style_centered #top-menu>li>a{
    font-size: 16px;
  }
  .et_header_style_centered #logo{
    max-height: 40px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  #menu-collection-menu li,
  #menu-collection-menu-ko li{
    font-size:1.4rem;
    margin:5px 10px;
  }
  #main-title{
      font-size:15px;
      left:-9.5%;
      bottom: 20%;
  }
  #main_all_box{
    line-height:calc(100vh - 200px) !important;
  }
  #main_wrap_box{
    width: 92%;
  }
  #main_wrap_box > div > div{
    margin-bottom: 0px;
  }
  #main_wrap_box > div:first-child{
    margin-right:10px;
  }
  #main_wrap_box .et_pb_column{
    width: calc(50% - 5px) !important;
  }

  /*--- collection page eidt ---*/
  #collections-section,
  #video-section{
    bottom: calc(50% - 0.8rem);
  }
  #close-btn-section{
    bottom: 50%;
  }

  #collections-section,
  .owl-carousel .owl-item img,
  #video-section{
    max-height: 52vh;
  }
  #video-frame{
    max-height: 52vh;
  }
  #video-section,
  #close-btn-section{
    width:calc(100vw)
  }
  #video-section > div{
    width:calc(100vw);
    max-width:calc(100vw);
    height: calc(100vh - 15rem);
  }
  #video-section iframe{
    height:calc(100vh - 235px);
  }
  /* image width 조절 */
  .dp_oc_item{
    margin:0 auto;
    width:71%;
  }
  #close-btn-section{
    max-height: 51vh;
  }
  #close-btn{
    font-size: .8rem;
  }

  /*--- about page edit ---*/
  #mo-about p{
    height: 34px;
    line-height: 34px;
    margin:5px auto;
  }
  #mo-about div{
    height: 1px;
  }
  #about-section .sep-div{
    margin-bottom: 1.5rem;
  }

  /*--- stockist page edit ---*/
  #stockist-bg{
    /* width: calc(98vw - 145px);
    background-position: 70% 40%; */
    width: 100vw;
    background-position: 10% 50%;
    left: 0;
  }
  #stockist-text{
    margin-top: 25px;
    font-size: 12px;
    left: 0;
    right: unset;
  }
  #stockist-text h2{
    padding-right: 10px;
  }
  #stockist-text h3{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 2.3em;
    line-height: 1em;
  }
  #stockist-text h4{
    margin-left: 40px;
    margin-top: 15px;
    font-size: 1.7em;
  }
  #stockist-text h5{
    padding-left: 4em;
    line-height: 1.3em;
    font-size: 1.4em;
  }
  #stockist-text p{
    margin: 0;
    line-height: 2em;
    font-size: 1.3em;
    padding-left: 5em;
  }
  #stockist-text p.folded{
    padding: 0 0 0 5em;
  }
  #stockist-text p:last-child{
    margin-bottom: 30px;
  }
  #stockist-section, #main_all_box{
    padding-top: 90px !important;
  }

  /* will del */
  #constructor-Mo-A{
      font-size: 1rem;
      height: 2rem;
      line-height: 2rem;
      width: 85%;
  }
  /*--- contact page ---*/
  #contact-div{
    font-size: 14px;
    line-height: 2em;
    left: 48%;
    top: 53%;
    bottom: 0;
    width: 240px;
    transform: translate(-50%, -50%);
  }
  #contact-div h2{
    margin-bottom: 30px;
    font-size: 28px;
  }
  #contact-div p{
    margin-bottom: 5px;
  }
  #top-menu li:nth-child(4) a,
  #top-menu li:last-child a{
    font-size: 10px;
  }
  #top-menu li:nth-child(4){
    right: 2.5rem;
  }
  #top-menu li:last-child{
    right: -30px;
  }
  #top-menu li:last-child:before{
    font-size: 10px;
    right: 15px;
  }
}

/* ver 4 under 4-inch Mabile */
@media (max-width:375px){
  /* mo about setting */
  #about.about-ko p, #mo-about.mo-about-ko p{
    font-size: 0.6rem;
  }

  #top-menu li:nth-child(4), #top-menu li:last-child{
    bottom: 60px;
  }
  #top-menu li:nth-child(4) a, #top-menu li:last-child a{
    font-size: 9px !important;
  }
  #about.about-ko p, #mo-about.mo-about-ko p{
    font-size: 0.6rem;
  }

  #collections-section,
  .owl-carousel .owl-item img,
  #video-section{
    max-height: 370px;
  }
  #video-frame{
    max-height: 370px;
    min-height: 300px;
  }

  #collections-menu{
    /*padding: 17px 10px;*/
    padding: 8px;
  }
  #menu-collection-menu li a
  #menu-collection-menu-ko li a{
    font-size: 15px;
  }
  /* header */
  #main-header{
    margin-top:5px;
  }
  .et_header_style_centered #main-header{
    padding: 13px 0;
  }
  .et_header_style_centered #top-menu>li>a{
    font-size: 11px;
  }
  .et_header_style_centered #logo{
    max-height: 30px;
    margin-bottom: 4px;
    margin-top: 0;
  }
  #main-title{
      font-size:14px;
      left:-9.5%;
      bottom: 19%;
  }

  /*--- collection page edit ---*/
  #video-section, #collections-section{
    bottom:calc(50%);
  }
  #video-section{
    padding-top: 0px;
  }
  .owl-carousel .owl-item img,
  #video-section iframe{
    height:calc(100vh - 170px);
  }
  #video-frame{
    height: calc(100vh - 140px);
  }

  #collections-menu .current-menu-item.current_page_item{
    border-bottom: 1px solid black;
  }
  #menu-collection-menu li,
  #menu-collection-menu-ko li{
    height:23px;
    font-size: 1rem;
    margin: 0 6px;
  }

  #close-btn{
    font-size: 11px;
    bottom: 5vh;
    width: 50px;
    height: 30px;
    padding: 3px;
  }

  /*--- about page edit---*/
  #mo-about p{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin:5px auto;
  }

  /*--- stockist page edit ---*/
  #stockist-text{
    font-size:11px;
  }
  #stockist-text h2{
    font-size:2.5em;
    padding-right: 13px;
  }
  #stockist-section, #main_all_box{
    padding-top: 75px !important;
  }
  /*--- contact page ---*/
  #contact-div{
    font-size: 12px;
    left: 56.5%;
    bottom: 47%;
    transform: translate(-50%, 50%);
  }
  #contact-div h2{
    margin-bottom: 20px;
    font-size: 25px;
  }
  #contact-div p{
    margin-bottom: 5px;
  }

  /* will del*/
  #constructor-Mo-A{
    font-size:15.5px;
  }
}

/* collection li 줄바꿈 */
@media (max-width: 600px) and (min-width: 481px) {
  #menu-collection-menu li{
    display: inline;
  }
  #menu-item-205958:after{
    content: "\A";
    white-space: pre;
  }
}

/* plugin eidt -> jsfilde check !
slideBy = 4, tablet = width 1100, 갯수 2개로 보이게 */
