/* Global setting */
body{
  color:#000;
  font-family: helvetica-neue;
}
.et_pb_section{
  padding:0;
}
.et_pb_column{
margin-bottom:0px;
}

/* row width 잡기 */
.et_pb_row{
  width: 72%;
  padding:0px;
}
/* row 간격 초기화 */
.et_pb_row.et_pb_row_1{
    height: 0px;
    margin: 0;
    padding: 0;
}
/* document 로드 될 때 block 튕김방지 */
#collections-section, #contact-section, #main_all_box{
  padding-top: 125px !important;
  border:0;
}

/*--- header ---*/
/* main menu setting */
.et_header_style_centered #main-header div#et-top-navigation{
  font-family: helvetica-neue;
}
.et_header_style_centered #top-menu>li>a{
  font-size: 16px;
}
/* /main menu setting */

/* 로고 마진 */
.et_header_style_centered #logo{
margin-top:10px;
}

/* 모바일 메뉴 없애기 */
#et_mobile_nav_menu{
display:none !important;
}

/* tablet 이하 submenu 보이기 */
.et_header_style_centered nav#top-menu-nav{
  display: inline-block;
}
#top-menu{
  display: block;
}
#main-header{
  z-index: 100;
  margin-top: 10px;
}
.et_non_fixed_nav.et_transparent_nav #main-header,
.et_non_fixed_nav.et_transparent_nav #top-header{
  position:fixed;
}
/* /tablet 이하 submenu 보이기 */
/*--- /header ---*/
/*--- footer ---*/
/* 기본 footer 없애기 */
#main-footer{
display:none;
}
/*--- footer ---*/


/*--- main page setting ---*/
/* main image 크기, 간격 */
.et_pb_gutters3 .et_pb_column_1_2,
.et_pb_gutters3.et_pb_row .et_pb_column_1_2{
  width: calc(50% - 10px) !important;
}
.et_pb_gutters3 .et_pb_column,
.et_pb_gutters3.et_pb_row .et_pb_column{
  margin-right: 20px;
}
/* /main image 크기, 간격 */

/* 좌측 이미지에 있는 글자 set */
#main-title{
    font-family: helvetica-neue;
    font-size: 46px;
    line-height: 1.2em;
    color: #000000;
    font-weight: 900;
    bottom: 17%;
    position: absolute;
    left: -21.3%;
}

/* will del */
/* 가운데 문장 pc버전 정리 */
#constructor-pc-A{
    position: fixed;
    top: 49%;
    left: 50%;
    width: 52%;
    background: #000;
    color: white;
    font-family: helvetica-neue;
    font-size: 50px;
    height: 78px;
    line-height: 78px;
    transform: translate(-50%);
    text-align: center;
}

/* 가운데 문장 모바일 버전 정리 */
#constructor-Mo-A{
    width: 87%;
    position: fixed;
    top: 49%;
    left: 50%;
    background: #000;
    color: white;
    font-family: helvetica-neue;
    font-size: 29px;
    height: 40px;
    line-height: 49px;
    transform: translate(-50%);
    text-align: center;
    transition-duration:0.5s;
}
/* /will del */

/* 메인 이미지 row 세로 가운데 정렬하기 set*/
#main_all_box{
  text-align: center;
  line-height: calc(100vh - 420px);
  margin-top: 30px;
}

#main_wrap_box{
  display: inline-block;
  vertical-align: middle;
}
/* /메인 이미지 row 세로 가운데 정렬하기 set*/
/*--- /main page setting ---*/

/*--- collection page setting ---*/
/* img tag 를 div tag background 만들기 */
.et_header_style_centered #top-menu>li>a{
  padding-bottom:0 !important;
}
.dp_oc_item{
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-item img{
  opacity: 0;
}
/* /img tag 를 div tag background 만들기 */

/* collections bottom menu */
#collections-menu .current-menu-item.current_page_item{
  border-bottom: 2px solid black;
}
#collections-menu{
  position:absolute;
  bottom:0;
  width:100%;
  padding: 30px 10px;
}
#collections-menu div{
  width:100% !important;
  max-width:100% !important;
  margin: 0 !important;
}
#menu-collection-menu{
  text-align: center;
}
#menu-collection-menu li{
  display: inline-block;
  margin: 0 15px;
  font-size: 1.8rem;
  height:28px;
}
#menu-collection-menu li a{
  color:#000;
}
/* /collections bottom menu */

/* on/off video-btn */
#close-btn-section{
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 1000;
  padding:30px 0;
}
#close-btn{
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 25vw;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
}
/*#close-btn:before{
  content:"\00d7";
  font-size: 30px;
}*/
/* /on/off video-btn */

/* video-section setting */
#video-section iframe{
  width:100%;
  height: calc(100vh - 235px);
  background: black;
  max-height: 1000px;
}
#video-section .fluid-width-video-wrapper{
  padding:0 !important;
}
#video-section{
  width:calc(50vw);
  margin:0 auto;
  position: absolute;
  left:50%;
  bottom:calc(50% - 20px);
  transform:translate(-50%, 50%);
  padding:0 !important;
}
#video-section > div{
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 230px);
  max-height: 1025px;
  margin:0 auto;
}
/* video-section setting */
/*--- /collection page setting ---*/

/* collections-section(photo) */
#collections-section > div{
  width: calc(100vw);
  max-width: calc(100vw);
  height:calc(100vh - 230px);
  max-height: 1025px;
}
#collections-section div{
  margin: 0 auto;
}
.owl-next{
  right:0;
  transform: translateY(-50%);
}
.owl-prev {
  left:0;
  transform: translateY(-50%);
}
#collections-section{
  position: absolute;
  bottom: calc(50% - 20px);
  transform: translateY(50%);
  padding: 0 !important;
}
.owl-carousel .owl-item img{
  display: block;
  width: 100%;
  height: calc(100vh - 235px);
  max-height: 1000px;
  object-fit: cover;
}
/* /collections-section(photo) */


/*--- contact page setting ---*/
#contact-text{
  position: absolute;
  right: -54%;
  font-size:20px;
  margin-top:20px;
  transition-duration: 0.5s;
}
#contact-text h2{
	font-size: 3em;
  padding-right: 50px;
  font-family: helvetica-neue;
  color:#000;
}
#contact-text p{
	padding-left: 144px;
	font-size: 1em;
	margin: 40px 0;
	line-height: 45px;
  white-space: nowrap;
}
#contact-bg{
	width:72%;
	height: 100vh;
	background-size: cover;
  background-position: calc(70% - 40px) 40%;
	position:fixed;
	top: 0;
  left: 0;
  z-index: -1;
  transition-duration: 0.5s;
}
/*--- /contact page setting ---*/

/*--- about page settting ---*/
#about, #mo-about{
	display: none;
	position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
	z-index: 99;
}
#about p, #mo-about p{
	background: black;
	color: white;
	display:inline-block;
	text-align: center;
	margin: 10px auto;
	font-size: 44px;
	padding: 0px 10px;
  height: 60px;
  line-height: 60px;
  font-family: helvetica-neue;
}
#menu-item-204821{
	cursor: pointer;
}
/*--- /about page settting ---*/

/* ver 4 over FHD PC  */
@media screen and (min-width: 1601px){
    .et_pb_row{
        max-width: 1600px;
    }
    .et_pb_image img{
        min-height:700px;
    }
    #contact-text{
      left:100%;
    }
}

/* ver 4 FHD PC  */
@media screen and (max-width: 1600px) and (min-width: 1101px){
  /*--- collection page eidt ---*/


  /*--- about page edit ---*/
  #about p{
    font-size: 30px;
  }

  /*--- contact page eidt ---*/
  #contact-bg{
    width: calc(100vw - 345px);
  }

  /*will del*/
  #constructor-pc-A{
      width:58.5%;
      font-size: 30px;
      height: 45px;
      line-height: 45px;
  }
}

/* ver 4 Tablet */
@media (max-width: 1100px) and (min-width: 601px){
  /* hdeader 간격조절 */
  .et_header_style_centered #main-header{
    padding:0;
  }
  .et_header_style_centered #logo{
    max-height: 40px;
    margin-bottom: 15px;
    margin-top: 25px;
  }
/* main page edit */
#main-title{
  font-size: 30px;
  left:-10%;
}
#main_all_box{
  line-height:calc(100vh - 220px);
}
#main_wrap_box{
  width: 90%;
}
/* /main page edit */
  /*--- collection page eidt ---*/
  #video-section{
    width:calc(100vw)
  }
  #video-section>div{
    width:calc(100vw);
    max-width:calc(100vw);
  }

  #close-btn{
    right:0;
  }

  /*--- about page edit ---*/
    #about p{
      font-size: 23px;
      height: 45px;
      line-height: 45px;
    }
    #mo-about p{
      font-size: 27px;
      height: 45px;
      line-height: 45px;
    }

  /*--- contact page edit ---*/
  #contact-bg{
    width: calc(100vw - 260px);
  }
  #contact-section .et_pb_column{
    width: 72% !important;
  }
  #contact-text{
    font-size: 17px;
    margin-top: 50px;
    right:-65%;
  }
  #contact-text h2{
    padding-right: 30px;
  }
  #contact-text p{
    margin: 25px 0;
    line-height: 40px;
    padding-left: 95px;
  }
  #contact-section, #main_all_box{
    padding-top: 100px !important;
  }
}

/* ver 4 Mabile */
@media (max-width: 600px){
  #menu-collection-menu li a{
    font-size: 18px;
  }
  /* header 간격 조절 */
  #collections-menu{
    padding: 10px;
  }
  #et-top-navigation{
    margin-top:5px;
  }
  #main-header{
    margin-top: 10px;
  }
  .et_header_style_centered #top-menu>li>a{
    font-size: 16px;
  }
  .et_header_style_centered #logo{
    max-height: 40px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  #menu-collection-menu li{
    font-size:1.4rem;
    margin:5px 10px;
  }
  #main-title{
      font-size:15px;
      left:-9.5%;
      bottom: 20%;
  }
  #main_all_box{
    line-height:calc(100vh - 200px);
  }
  #main_wrap_box{
    width: 92%;
  }
  #main_wrap_box > div > div{
    margin-bottom: 0px;
  }
  #main_wrap_box > div:first-child{
    margin-right:10px;
  }
  #main_wrap_box .et_pb_column{
    width: calc(50% - 5px) !important;
  }

  /*--- collection page eidt ---*/
  #video-section{
    width:calc(100vw)
  }
  #video-section>div{
    width:calc(100vw);
    max-width:calc(100vw);
    height: calc(100vh - 230px);
  }
  #video-section iframe{
    height:calc(100vh - 235px);
  }
  /* image width 조절 */
  .dp_oc_item{
    margin:0 auto;
    width:71%;
  }

  #close-btn{
    font-size:14px;
    right:0;
    width:43px;
  }

  /*--- about page edit ---*/
  #mo-about p{
    font-size: 17px;
    height: 37px;
    line-height: 37px;
    margin:8px auto;
  }

  /*--- contact page edit ---*/
  #contact-bg{
    width: calc(100vw - 168px);
    background-position: 70% 40%;
  }
  #contact-text{
    margin-top: 35px;
    font-size: 12px;
    right: -17%;
  }
  #contact-text h2{
    padding-right: 10px;
  }
  #contact-text p{
    margin: 15px 0;
    line-height: 25px;
    padding-left: 70px;
  }
  #contact-text p:last-child{
    margin-bottom: 30px;
  }
  #contact-section, #main_all_box{
    padding-top: 90px !important;
  }

  /* will del */
  #constructor-Mo-A{
      font-size:18px;
      height: 35px;
      line-height:42px;
  }
}

/* ver 4 under 4-inch Mabile */
@media (max-width:370px){
  #collections-menu{
    padding: 17px 10px;
  }
  #menu-collection-menu li a{
    font-size: 15px;
  }
  /* header */
  #main-header{
    margin-top:5px;
  }
  .et_header_style_centered #main-header{
    padding: 13px 0;
  }
  .et_header_style_centered #top-menu>li>a{
    font-size: 11px;
  }
  .et_header_style_centered #logo{
    max-height: 30px;
    margin-bottom: 4px;
    margin-top: 0;
  }
  #main-title{
      font-size:14px;
      left:-9.5%;
      bottom: 19%;
  }

  /*--- collection page edit ---*/
  #video-section{
    padding-top: 0px;
  }
  .owl-carousel .owl-item img,
  #video-section iframe{
    height:calc(100vh - 170px);
  }
  #collections-section>div,
  #video-section>div{
    height: calc(100vh - 135px);
  }
  #collections-menu .current-menu-item.current_page_item{
    border-bottom: 1px solid black;
  }
  #menu-collection-menu li{
    height:23px;
    font-size: 1rem;
    margin: 0 6px;
  }

  #close-btn{
    font-size: 11px;
    top: -68px;
    width: 24px;
  }

  /*--- about page edit---*/
  #mo-about p{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin:5px auto;
  }

  /*--- contact page edit ---*/
  #contact-text{
    font-size:11px;
  }
  #contact-text h2{
    font-size:2.5em;
    padding-right: 13px;
  }
  #contact-text p{
    margin: 13px 0;
    line-height: 23px;
    padding-left: 25px;
  }
  #contact-section, #main_all_box{
    padding-top: 75px !important;
  }

  /* will del*/
  #constructor-Mo-A{
    font-size:15.5px;
  }
}


/* plugin eidt -> jsfilde check !
slideBy = 4, tablet = width 1100, 갯수 2개로 보이게 */
